<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        xmlns:th="http://www.ultraq.net.nz/thymeleaf"
        layout:decorate="~{/layout}">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body>
<article layout:fragment="content"  class ="container body-content">
  <div class="container">

      <br>
      <br>
      <h3>Họ tên : Trần Xuân Bình</h3><br>
      <h3>MSSV : 2080601263 </h3>
      <br><h3>Lớp : 20DTHE4</h3>

  </div>
</article>
</body>
</html>